NODE_ENV=production
PORT=3000
PUBLIC_API_URL=https://bego.com.ht
API_URL=https://bego.com.ht

MONGO_URI=mongodb://127.0.0.1:27017/bego
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=change_me_long_random_secret
JWT_REFRESH_SECRET=change_me_long_random_refresh_secret

EMAIL_USER=
EMAIL_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

OSRM_URL=http://127.0.0.1:5000
PAYMENT_BASE_URL=https://bego.com.ht/pagar
