/* =========================
   MENU MOTORISTAS
========================= */
#menuMotoristas {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: var(--bg-card);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border: 1px solid #1e293b;
  z-index: 1001;
  padding: 16px;
  transition: bottom .35s ease;
  max-height: 60%;
  overflow-y: auto;
}

#menuMotoristas.activo {
  bottom: 0;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.menu-header span {
  font-weight: 800;
  font-size: 16px;
}

.menu-header button {
  background: none;
  border: none;
  color: var(--muted);
  font-size: 18px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 14px;
  margin-top: 10px;
  
}

.menu button {
  background: var(--bg-card);
  border: 1px solid #1e293b;
  border-radius: 14px;
  padding: 12px 6px;
  font-size: 12px;
  color: var(--text-main);
  text-align: center;
}

.menu button i {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--secondary);
}


/* GRID */
.servicios-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

/* GRID OPCIONES */
.ganancias-opciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

/* RESPONSIVE */
@media (max-width: 420px) {
  .ganancias-opciones {
    grid-template-columns: 1fr;
  }
}

/* ================================
   🚖 ACCIONES DE VIAJE (PEDIR / CANCELAR)
================================ */

.acciones-viaje {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 12px;
  margin: 14px;
}

